div.leslie-tile{
  background-color: white;
  height: 20rem;
  padding-top: 3rem;
}

img.leslie-photo{
  float: left;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  }

.top-tile-name{
  text-align: center;
}
