div.google-map{
  height: 37rem;
  width: 33rem;
}

h1.map-title{
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2.5rem;
}

p.map-description{
  padding: 1rem 2.3rem 0 4.75rem;
  font-size: 1.8rem;
}

div.map-container{
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  z-index: -1;
}

select{
  font-family: "Courier New", Courier, monospace;
  height: 2.5rem;
  font-size: 1.3rem;
  position: relative;
  margin-top: 0;
  padding-top: 0;
}

option{
  font-size: 1.5rem;
}

div.school-info-container{
  width: 48%;
  height: 33rem;
  overflow: auto;
  padding: 2rem;
  background-color: black;
}

div.school-info{
  color: white;
  font-family: "Courier New", Courier, monospace;
}

p.course-names{
  font-size: 0.1rem;
}

div.log-in{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
