div.nate-tile{
  height: 20rem;
}

img.nate-photo{
  float: left;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  }

h1{
  margin-top: 0;
}

p.tile-content{
  margin-left: 13rem;
  margin-right: 1.5rem;
  padding-top: 1rem;
}

a.github-link{
  margin-left: 1rem;
}

h1.tile-name{
  text-align: center;
}
