body{
  margin: 0;
}

h1.menu{
  margin: 0;
  float: right;
}

nav.navbar{
  background-color: #E8E0D5;
  width: 100%;
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: space-around;
}

a {
  margin-top: 1rem;
  font-size: 1.8rem;
  text-decoration: none;
  color:blue;
}


a:hover{
  color: black;
}
