div.title{
  background-image: url('./gif/ezgif.com-gif-maker.gif');
  background-size: 100%;
  height: 72rem;
  background-repeat: no-repeat center;
  background-position: center center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.description-text1{
  color: white;
  margin: 7rem 1.5rem 13.7rem 0;
  }

  .description-text2{
    color: white;
    margin: 8rem 1.5rem 3rem 0;
    font-size: 1.3rem;
  }

  .description-text3{
    color: white;
    margin: 1rem 3rem 5rem 0;
    font-size: 1.3rem;
  }


  div.title-text{
    width: 20%;
    margin-top: 12rem;
    height: 30rem;
  }

  div.videoOverlay{
    transform: rotate(6deg);
    width: 25rem;
    margin-left: 7rem;
    height: 23rem;
  }

  div.video-button{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    width: 100%;
  }

  button.show-video{
    margin-top: 8.73rem;
    width: 3rem;
    margin-left: 38rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #C3111D;
    color: white;
    border: none;
  }

  .show-video:hover{
    background-color: #FACE43;
  }
