div.title{
  background-image: url('./gif/ezgif.com-gif-maker.gif');
  background-size: 100%;
  height: 72rem;
  background-repeat: no-repeat center;
  background-position: center center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.description-text1{
  color: white;

}

.description-text2{
  color: white;
}

.description-text3{
  color: white;
}

div.videoOverlay{
transform: rotate(8deg);
width: 50%;
margin-top: 30rem;
margin-left: 4rem;
}

div.title-text{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-top: 36rem;
}
