div.title{
  background-image: url('./gif/ezgif.com-gif-maker.gif');
  background-size: 100%;
  height: 72rem;
  background-repeat: no-repeat center;
  background-position: center center;
}

div.title-text{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-top: 36rem;
}

.description-text{
  color: red;
}
